/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*Nav bar center */

.navbar-center {
    margin: auto;
}

@media (max-width: 991px) {
    .mobile-padding {
        padding-top: 15px!important; padding-bottom: 10px;
    }
}


.dropdown-menu{
    background-color: rgba(135, 135, 135, 0.3) !important;
}

.dropdown-item {
    color: rgba(255,255,255,1)!important;
}

.dropdown-item:hover{
    background-color: rgb(50,50,50)!important;
}

.custom-bg{
    background-color: rgb(50,50,50);
}

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 32rem;*/
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

/*
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%

}
*/
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

.mobile-icon {
        visibility:hidden;
        display: none;
    }
.mobile-bigicon{
       visibility: visible;
       display: block;
}

@media screen and (max-width : 425px) {
    .mobile-icon {
        visibility:visible;
        display: block;
    }
    .mobile-bigicon {
         visibility: hidden;
         display: none !important;
    }
}

@media screen and (max-width: 425px) {
    .mobile-resize{
      width:90%;
    }
}


@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
